.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 70px;

    @media (max-width:1100px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }

    @media (max-width:900px) {
        gap: 30px;
    }

    @media (max-width:700px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    @media (max-width:530px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}