.select {
    width: fit-content;
    padding: 20px;
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.521);
}

.option {
    padding: 20px;
}